SECRET_KEY=change-me-generate-a-new-django-secret-key

DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

USE_REMOTE=False

# DATABASE (only used if USE_REMOTE=True)
NAME=your_db_name
USER=your_db_user
PASSWORD=your_db_password
HOST=127.0.0.1
PORT=3306
